/*
 * @author:BrackenThorne
 * @date:16/9/16
 * css stylesheet for fake google project
 */

/*
 * Styling for the header area
 */
#header
{
	width:100%;
	height:30px;
	
}

#header ul
{
	text-align:right;
	list-style-type:none;
	padding:0;
	margin:0;
}

#header ul li
{
	display:inline-block;
	font-family:arial;
	font-size:13px;
	
}

.navlink
{
	text-decoration:none;
}

.navlink:hover
{
	text-decoration:underline;
}
#header ul li form button
{
	color:white;
	background-color:#4285f4;
	cursor:default;
	text-decoration:none;
	border: 1px solid #4285f4;
}

/*
 * Styling for the main
 */
#main
{
	background-color:green;
	border:1px solid black;
	width:100%;
	height:100%;
}

#logo img
{	
	height:93px;
	width:272px;
	margin:0;
	padding:0;
}

#buttonlist
{
	list-style-type:none;
}

#buttonlist li
{
	display:inline-block;
}

/*
 * Styling for the footer area
 */
#footer
{
	position:absolute;
	background-color:blue;
	border:1px solid black;
	width:100%;
	height:100px;
	bottom:0;
	left:0;
	right:0;
}
